/[if lt IE 9]
  -# Adds support for html5 elements in old browsers
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  -# Adds support for CSS3 selectors in IE7-8. Has to load after the jQuery library.
  -# Selectivr is a bastard that can't be served thru the pipeline with compression. Add it to /public manually.
  <script src="/ie/selectivizr.js", type="text/javascript"></script>
  = javascript_include_tag "lawgical/ie"
